.cer{
    height: auto;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    margin-top: 200px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}
.cer div{
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
     box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transition: all 1s ease;
    opacity: 0;
    
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        filter: blur(4px);

}
.cer div:hover{
         box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 35px;
         transform: scale(1.01);

}
.cer div img{
    width: 80%;
    border-radius: 5px;
}
.cer div h1{
    font-size: 1.5rem;
    font-family: "Algerian";
}
.cer div a{
    font-size: 0.8rem;
    width: 70%;
}
/* Target phones (screen width 480px or smaller) */
@media (max-width: 480px) {
#menu{
    display: none;
}
.btnmenu{
    display: block;

}
.cer{
    width: 90vw;
}
.cer div{
    margin-top: 5%;
}
.menudown div:hover{
    transform: translate(0,0);

}
.imgg{
}
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}