
.competence{
    width: 90%;
    height: auto;
    backdrop-filter: blur(10px);
    /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px; */
    border-radius: 5px;
    padding: 1%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    
}
.competence h1{
    
    font-family: Algerian;
    font-size: 2rem;
    text-align: center;
    opacity: 0;
    animation: fade-in 0.2s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
    filter: blur(4px);
    

}
#comp{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


@media (max-width: 480px) {

.competence{
    margin-top: 5%;
    padding-bottom: 5%;
}
#titsk{
    color: black;
}
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}